# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
build

#VS files
*.suo
*.user

# mstest test results
TestResults
TestResult.xml

#NuGet
packages/

# ReSharper
_ReSharper*
*.DotSettings*
